@model MvcBlog.Models.BlogsAndComments

@{
    ViewBag.Title = "View Blog";
}
<p></p>
<div class="form-control blogTable">
    <h4>@Model.Blog.BlogTitle</h4> <div class="text-right"><strong>@Model.Blog.Blogger</strong></div><hr />
    <strong><em>@Model.Blog.Msg</em></strong><br />
    <div class="text-right"><em>@Model.Blog.BlogTime</em></div>
</div>
<!--List of Comments of the selected Blog-->
@{var comments =Model.CommentList.Where(m => m.BlogId == Model.Blog.BlogId);}
@if (comments.Count() == 0)
{
    <h3>No Comments</h3>
}
else
{
    //List the Comments of this blog
    <p></p><hr />
    <h4>Comments</h4>
    foreach (var comment in comments)
    {
        <div class="form-control blogTable">
            <strong>@comment.Blogger</strong>
            <div class="text-right"><em>@comment.CommentTime</em></div><hr />
            @comment.Msg 
            <div class="text-right">
                <a href="~/Home/EditComment/@comment.CommentId" title="Edit"><span class="glyphicon glyphicon-edit"></span></a>
                <a href="~/Home/DeleteComment/@comment.CommentId" title="Delete"><span class="glyphicon glyphicon-remove"></span></a>
            </div>
        </div><br />
    }
}
<!--Add Comment-->
<div class="form-control addComment">
    <h4>Add a Comment</h4>
    <form method="post" id="blogForm">
        <input type="text" name="Blogger" class="form-control" placeholder="What's your Name?" id="Blogger" /><br />
        <textarea class="form-control" placeholder="Type the Comment" name="Msg" id="Msg"></textarea><br />
        <input type="button" onclick="blog.ValidComment()" value="Add" class="btn btn-info" />
    </form>
</div>